/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #020617;
    /* Matches slate-950 */
    color: #e2e8f0;
    overflow: hidden;
}

/* Global Dark Scrollbar to prevent white bars */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #020617;
}

::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 5px;
    border: 2px solid #020617;
}

::-webkit-scrollbar-thumb:hover {
    background: #334155;
}